<head>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/ionicons/2.0.1/css/ionicons.min.css">
</head>
<div class="footer-dark">
    <footer>
        <div class="container">
            <div class="row">
                <div class="col-sm-6 col-md-3 item">
                    <h3>Services</h3>
                    <ul>
                        <li><a href="#">Quizzes</a></li>
                        <li><a href="#">Learing Modules</a></li>
                        <li><a href="#">Live trainings</a></li>
                    </ul>
                </div>
                <div class="col-sm-6 col-md-3 item">
                    <h3>Contact</h3>
                    <ul>
                        <li><a href="{{email|formail:'mail'}}"><i class="fas fa-envelope"></i> {{email}}</a></li>
                        <li><a href="{{phno|formail:'tel'}}"><i class="fas fa-phone-square-alt"></i> {{phno}}</a></li>
                        <li><a href="{{phno|formail:'tel'}}"><i class="fas fa-map-marker-alt"></i> 21 Revolution Street<br><strong>Paris, France</strong></a></li>
                    </ul>
                </div>
                <div class="col-md-6 item text">
                    <h3>Quizzlet</h3>
                    <p>© 2021 – 2021 Quizzlet Pty. Ltd.<br> This site is protected by Google Privacy Policy and Terms of Service apply.</p>
                </div>
                <div class="col item social"><a href="#"><i class="icon ion-social-facebook"></i></a><a href="#"><i class="icon ion-social-twitter"></i></a><a href="#"><i class="icon ion-social-snapchat"></i></a><a href="#"><i class="icon ion-social-instagram"></i></a></div>
            </div>
            <p class="copyright">Quizzlet © 2021</p>
        </div>
    </footer>
</div>