<div class="container">
    <div class="about-section">
        <h1>About Us</h1>
        <p>We're on a mission to motivate every student</p>
        <p>We're here to bring the change, are you ready to be the change ?</p>
      </div><br>
      <h2 style="text-align:center;color: #01820a;">Our Team</h2>
      
      
      <div class="row row-cols-1 row-cols-md-3 g-4">
        <div class="col">
          <div class="card h-100">
            <img src="assets/images/doraemon.jpg" class="card-img-top" alt="...">
            <div class="container">
                <h2>Doraemon</h2>
                <p class="title">CEO & Founder</p>
                <p>dora@gmail.com</p>
                <p><button class="button">Contact</button></p>
              </div>

          </div>
        </div>
        <div class="col">
          <div class="card h-100">
            <img src="assets/images/nobita.jpg" class="card-img-top" alt="...">
            <div class="container">
                <h2>Nobita Nobi</h2>
                <p class="title">Managing Director</p>
                <p>Nobi@gmail.com</p>
                <p><button class="button">Contact</button></p>
              </div>
          </div>
        </div>
        <div class="col">
          <div class="card h-100">
            <img src="assets/images/shizuka.png" class="card-img-top" alt="...">
            <div class="container">
                <h2>Shizuka Minamoto</h2>
                <p class="title">Sales Manager</p>
                <p>shizuka@gmail.com</p>
                <p><button class="button">Contact</button></p>
              </div>

          </div>
        </div>
      </div>
</div>
<app-footer></app-footer>